<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-card icon="hourglass-outline" IconColor="warning" status="Hold on" UpdatedAt="22/04/2008 16:00:55"
    createdAt="22/04/2008 16:00:55" notes="we have two bags that are full, One with plastic and the other with glass">
  </app-pickup-card>
  <app-pickup-card icon="archive-outline" IconColor="secondary" status="Processing" UpdatedAt="22/04/2008 16:00:55"
    createdAt="22/04/2008 16:00:55" notes="we have two bags that are full, One with plastic and the other with glass">
  </app-pickup-card>

  <app-pickup-card icon="checkmark-circle-outline" IconColor="success" status="Finished" UpdatedAt="22/04/2008 16:00:55"
    createdAt="22/04/2008 16:00:55" notes="we have two bags that are full, One with plastic and the other with glass">
  </app-pickup-card>


</ion-content>