<ion-content [fullscreen]="true">
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success">Log In</ion-card-title>
          <ion-card-subtitle> Welcome Back</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email" formControlName="email" aria-label="Email"
              placeholder="Email"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
            * Email is Required</ion-label>
          <ion-label color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
            * Email is Not Valid</ion-label>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="Password" name="password" formControlName="password" aria-label="Password"
              placeholder="password"></ion-input>
          </ion-item>

          <ion-label color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">
            Email is Required</ion-label>
          <ion-label color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['password']">
            Email is Not Valid
          </ion-label>

          <ion-button id="recoverPasswordBtn" color="primary" fill="clear" size="full"
            [disabled]="!form.get('email')?.valid" (click)="forgetEmailPassword()"> Forgot
            Password</ion-button>

          <ion-button color="success" size="full" [disabled]="!form.valid" (click)="login()"> Login</ion-button>

          <ion-button color="success" fill="clear" size="full" (click)="register()"> Register</ion-button>

        </ion-card-content>

      </ion-card>
    </form>
  </div>
</ion-content>