<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" color="light" size="small" fill="clear">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Recilica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img
          src="https://static.vecteezy.com/system/resources/previews/014/194/215/original/avatar-icon-human-a-person-s-badge-social-media-profile-symbol-the-symbol-of-a-person-vector.jpg"
          alt="" srcset="">
      </ion-avatar>
      <ion-label>
        <h2>Lina Ahmed </h2>
        <p> Gathared : <span class="money">15,00$</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-card icon="hourglass-outline" [hasFooter]="true" [hasHeader]="true"></app-pickup-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>