<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" color="light" size="small" fill="clear">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Recilica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img
          src="https://static.vecteezy.com/system/resources/previews/014/194/215/original/avatar-icon-human-a-person-s-badge-social-media-profile-symbol-the-symbol-of-a-person-vector.jpg"
          alt="" srcset="">
      </ion-avatar>
      <ion-label>
        <h2>Lina Ahmed </h2>
        <p> Gathared : <span class="money">15,00$</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-card icon="hourglass-outline" icon="hourglass-outline" IconColor="warning" status="Hold on"
    UpdatedAt="22/04/2008 16:00:55" createdAt="22/04/2008 16:00:55"
    notes="we have two bags that are full, One with plastic and the other with glass">
    <ion-card-header header>
      <ion-card-subtitle> Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" (click)="Pickupcalls()" fill="clear" size="full" footer> See All ...</ion-button>

  </app-pickup-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success" (click)="newPickupcall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>